main {
	padding: 25px;
}
body::before {
	content: '';
	position: fixed;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
	background-image: url('../img/global/art18.jpeg');
	filter: blur(5px);
	background-size: cover;
	background-attachment: fixed;
}
body {
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
main .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main .top h2 {
	padding: 9px 12px 12px;
	background-color: white;
	border-radius: 25px;

	color: #1e4086;
	font-size: 30px;
}

main .top a {
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
	transition: transform 0.3s ease;

}
a:hover {
	transform: scale(1.1);
	transition: transform 0.3s ease;
}
main .top a,
main .top a:active,
main .top a:visited {
	color: beige;
}

.arrow {
    position: relative;
	cursor: pointer;
    width: 80px;
    height: 50px;
    margin: 20px;
}

.item {
    display: none;
}

.item.active {
    display: block;
}
.next {
	float: right;

}
.prev {
	float: left;
}
button.next {
    cursor: pointer;
    margin: 20px;
	position: relative;
    top: 20px;
    width: 90px;
    height: 10px;
    background-color: blue;
    left:0;
    display: block;
}

button.next::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -13px;
    right: -8px;
    background-color: blue;
    transform: rotate(45deg);
}
button.next::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 9px;
    right: -8px;
    background-color: blue;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
button.next:hover {
    animation: button 1s linear infinite;
}
@keyframes button{
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
}
button.prev {
    cursor: pointer;
    position: relative;
    margin: 20px;
    top: 20px;
    width: 90px;
    height: 10px;
    background-color: blue;
 
    left:0;
    display: block;
}
button.prev::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 9px;
    right: 56px;
    background-color: blue;
    transform: rotate(45deg);
}
button.prev::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -13px;
    right: 56px;
    background-color: blue;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
button.prev:hover {
    animation: button 1s linear infinite;
}
@keyframes button {
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
}


.boostprogress{
	font-size: 25px;
	margin-left: 450px;
	margin-top: 400px;
	min-width: 600px;
	position: fixed;
	color: midnightblue;
}
.name {
	font-size: 25px;
	color: blue;
	margin-top: 360px;
	margin-left: 450px;
	min-width: 600px;
	position: fixed;
}
.comment {
	font-size: 40px;
	text-align: left;
	max-width: 400px;
	margin-top: 100px;
	position: fixed;
	margin-left: 10px;
}

main .blockquote-detail img {
	display: block;
	width: 200px;
	margin-top: 100px;
	margin-left: 650px;
	padding: 15px 0;
	border-radius: 50px;
	position: fixed;
	
}
.our-reviews {
	color: Beige;
	font-size: 125px;
	margin-left: 100px;
	margin-top: 40px;
	
}
.reviews-about {
	color: lightcyan;
	font-size: 50px;
	text-align: left;
	margin-left: 100px;
	margin-top: 75px;
	max-width: 1000px;
}


.card-body {
	margin-top: -650px;
	padding: 0 300px;
	border: 3px solid rgb(134, 128, 128);
    padding: 20px;
	width: 1000px;
	text-align: center;
	border-radius: 25px;
	height: 600px;
	border-color: lightgrey;
	background-color: whitesmoke;
	margin-left: 1250px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: fixed;
}
.arrow-1 {
	margin-left: 1550px;
	margin-top: -150px;
	position: fixed;
}

.arrow-2 {
	margin-top: -150px;
	margin-left: 1750px;
	position: fixed;
}

@media screen and (max-width: 768px) {
	main .top {
		flex-direction: column;
		row-gap: 15px;
	}

	main .info {
		margin-top: 50px;
		padding: 0;
	}

	main .info img {
		max-width: 85vw;
	}
}
