body {
  background-color: rgb(240, 234, 234);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 1vw 2vw 0.5vw;
}

main h1 .blue {
  color: #1e4086;
  font-size: 4vw;
}

main h1 .lightblue {
  color: #7097cb;
  font-size: 3vw;
}

main h1 .gray {
  display: inline-block;
  margin-top: 1vw;
  padding: 5px 10px 10px;
  border-radius: 20px;
  background-color: blue;
  color: whitesmoke;
  font-size: 2.5vw;
}

main .text {
  max-width: 30vw;
  margin-top: 1vw;

  color: #1e4086;
  font-size: 2vw;
  font-weight: 700;
}

main .services {
  display: inline-block;
  margin-top: 1.5vw;
  padding: 13px 15px 15px;
  background-color: #6d94c3;
  border-radius: 1vw;
  font-size: 1.55vw;
  font-weight: 700;
  text-decoration: none;
  transition: transform 0.3s ease;
}
main .cost {
  display: inline-block;
  margin-top: 1.5vw;
  padding: 13px 15px 15px;
  background-color: #6d94c3;
  border-radius: 1vw;
  font-size: 1.55vw;
  font-weight: 700;
  margin-left: 0.5vw;
  text-decoration: none;
  transition: transform 0.3s ease;
}

main .services,
main .services:visited,
main .services:active {
  color: white;
}

main .services:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
main .cost,
main .cost:visited,
main .cost:active {
  color: white;
}

main .cost:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.right-image {
  float: right;
  margin-left: 3vw;
  width: 46vw;
  margin-top: -6%;
  position: relative;
  transition: transform 0.3s ease;
  overflow-x: hidden;
}
.right-image:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    row-gap: 20px;
    padding: 50px 25px 20px;
  }

  .right-image {
    width: 100vw;
  }

  main h1 .blue {
    font-size: 15vw;
  }

  main h1 .lightblue {
    font-size: 10vw;
  }

  main h1 .gray {
    padding: 3px 5px 5px;
    border-radius: 10px;
    font-size: 8vw;
    margin-top: 3vw;
  }

  main .text {
    max-width: none;
    margin-top: 50px;
    font-size: 7vw;
  }
}
