body {
	background-color: rgb(240, 234, 234);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

main {
	display: flex;
	justify-content: space-between;
	padding: 60px 50px 20px;
}

main h1 .blue {
	color: #1e4086;
	font-size: 100px;
}

main h1 .lightblue {
	color: #7097cb;
	font-size: 70px;
	
}

main h1 .gray {
	display: inline-block;
	margin-top: 25px;
	padding: 5px 10px 10px;
	border-radius: 20px;
	background-color: #505356;
	color: white;
	font-size: 50px;
	
}

main .text {
	max-width: 700px;
	margin-top: 70px;

	color: #1e4086;
	font-size: 40px;
	font-weight: 700;
}

main .services {
	display: inline-block;
	margin-top: 35px;
	padding: 13px 15px 15px;
	background-color: #6d94c3;
	border-radius: 20px;
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;
	transition: transform 0.3s ease;
}

main .services,
main .services:visited,
main .services:active {
	color: white;
}

main .services:hover {
	transform: scale(1.1);
	transition: transform 0.3s ease;
}


.right-image {
	float: right;
	margin-left: 20px;
	margin-top: -10%;
	position: relative;
	transition: transform 0.3s ease;
}
.right-image:hover {
	transform: scale(1.08);
}

@media screen and (max-width: 768px) {
	main {
		flex-direction: column;
		row-gap: 20px;
		padding: 50px 25px 20px;
	}

	main .right {
		max-width: none;
	}

	main h1 .blue {
		font-size: 30px;
	}

	main h1 .lightblue {
		font-size: 20px;
	}

	main h1 .gray {
		padding: 3px 5px 5px;
		border-radius: 10px;
		font-size: 15px;
	}

	main .text {
		max-width: none;
		margin-top: 50px;
	}
}
