:root {
  --bg-img: url("../img/global/art4.png");
  --behindtext-color: beige;
  --p-color: blue;
  --form-color: white;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: var(--bg-img);
  filter: blur(1.5px);
  background-size: cover;
  background-attachment: fixed;
}

body {
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

main {
  padding: 25px;
}

main .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .top h2 {
  padding: 9px 12px 12px;
  background-color: var(--form-color);
  border-radius: 25px;
  color: #1e4086;
  font-size: 30px;
}

main .top a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease;
  color: beige;
}

a:hover {
  transform: scale(1.06);
  transition: transform 0.3s ease;
}

main .bottom {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.link-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.theme {
  margin-left: 48vw;
  margin-bottom:  1.5vw;
}
#theme-selector {
  background-clip: padding-box;
  padding: 0 0.3vw  0 0.3vw;
  width: 8vw;
  height: 1.5vw;
  font-size: 0.7vw;
  color: #090a0c;
  background-color: var(--form-color);
  background-image: url("../img/global/down.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.6vw 0.6vw;
  border: 1px solid rgba(8, 60, 130, 0.06);
  border-radius: 0.4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#reset-theme {
  text-align: center;
  width: 6vw;
  height: 1.5vw;
  font-size: 0.7vw;
  color: #090a0c;
  background-color: var(--form-color);
  border: 1px solid rgba(8, 60, 130, 0.06);
  border-radius: 0.4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.link a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 25px;
  background-color: var(--behindtext-color);
  border-radius: 20px;
  color: var(--p-color);
  font-size: 50px;
  text-align: center;
  text-decoration: none;
}
[data-theme="dark"] {
  --bg-img:  url("../img/dark/8.jpg");
  --behindtext-color: #1e4086;
  --p-color: #e0e0e0;
  --form-color: #e0e0e0;
}
body {
  background-image: var(--bg-img)
}

@media screen and (max-width: 768px) {
  main .bottom {
    flex-direction: column;
    align-items: center;
  }

  .link-container {
    flex-direction: column;
    gap: 25px;
  }

  .link a {
    width: 90%;
  }
}
